@inherits LayoutComponentBase

<PageTitle>BlazorSample</PageTitle>

<div class="h-screen">
    <Navbar />

    <main class="m-5 ">
        <article class="h-full">
            @Body
        </article>
    </main>

    <Footer />
</div>
