@using ProductiGraph.Shared.Components

<div class="navbar bg-base-300">
    <div class="flex-none">
        <div class="navbar-start">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
                    </svg>
                </label>
                <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-300 rounded-box w-52">
                    <li>
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                           Home
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="projects">
                            Projects
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl">Graph Assistant</a>
    </div>
    <div class="flex-none">
        <AvatarMenu />
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}